RewriteEngine on

# ROUTES

# ROUTE USER.LOGOUT
# URL: user/LOGOUT
# PATTERN :

RewriteRule ^users/logout$ index.php?users=logout [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
